:root {
  height: 110%;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(184,45,253,1) 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

.form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 100px;
  width: 500px;
  max-height: 510px;
  min-height: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  z-index: 5;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.form #description {
  font-size: medium;
  padding-left: 3px;
  margin-bottom: 60px;
}

.form h2 {
  font-size: 20px;
  padding-left: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.form p {
  margin-top: 5px;
  padding-left: 5px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(103, 28, 153, .5);
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  
}

header h2, h3, h4 {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
}


header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-right: 30px;
}

header ul img:hover, .copy:hover {
    transform: translateY(-3px);
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

header ul img:active, .copy:active {
    transform: translateY(-1px);
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.form img {
  float: right;
  width:150px;
  height:150px;
  border-radius: 75px;
  object-fit: cover;

}

.line {
  padding: 0;
  border: none;
  height: 5px;
	border: none;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(138,0,176,1) 23%, rgba(0,212,255,1) 100%);
  border-radius: 2px;
}

footer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: left;
}

footer h4 {
  position: absolute;
  right: 0;
  margin-right: 30px;
  top: -10px;
}

footer .copy {
  position: absolute;
  right: 150px;
  top: 10px;
}

footer .metamask {
  position: absolute;
  right: 180px;
  padding-top: 45px;
}